<div id="task_wrapper">
    <div class="tasks">
    <h1>
      <%= @task.title %>
    </h1>

    <p>
      by <%= @task.company %>
    </p>

    <p class="task_description">
      <%= @task.description %>
    </p>

    <%= link_to "Complete Task", @task.url, class: "button" %>

    <div class="links">
      <%= link_to "Edit", edit_task_path %> | 
      <%= link_to "Delete", task_path, method: :delete, data: { confirm: "Sure you wanna delete?" } %>
    </div>
  </div>
</div>